<h1>SnapTime</h1>
<p>Welcome to the SnapTime backoffice</p>

<div class="container">
    <div class="row">
        <div class="col-lg-9">
        	<div class="well sidebar-nav">
          		<ul class="nav nav-list">
              		<li><%= link_to "Users", "/users"  %></li>
              		<li><%= link_to "Snaps", "/snaps"  %></li>
                  <li><%= link_to "Messages", "/messages"  %></li>
            	</ul>
            </div>
        </div>
    </div>
</div> <!-- /container -->
